*.code-workspace
*.uninstall*.txt
.vscode
__pycache__
Releases/
Logs/

# LWCE installer directories
Installer/dist
Installer/node_modules
Installer/Resources

# output directories for Makefile build
/build
/install

# output directory for nix build
/result
