html {
    height: 100%;
}

body {
    height: calc(100% - 140px);
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.invalid {
    border: 1px solid red;
}

#installer-output {
    background-color: lightgray;
    flex-grow: 1;
    font-family: Courier, monospace;
    margin-bottom: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    word-wrap: wrap;
}

#installer-title {
    background-color: lightblue;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 8px;
    text-align: center;
}

#setup-contents {
    display: flex;
    flex-flow: column nowrap;

    height: 100%;
    padding: 0 10px;
}

#bottom-nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 12px;

    position: absolute;
    bottom: 0px;

    background-color: lightgray;
    border-top: 1px solid gray;
    height: 26px;
    padding: 12px 8px;
    width: calc(100% - 16px);
}

#patchupk-file-selector-btn,
#xew-file-selector-btn {
    flex-grow: 0;
}

#patchupk-file-selector-display,
#xew-file-selector-display {
    flex-grow: 1;
}